
  body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(Books.jpg);
    background-size : cover;
    background-position: center;
}
  

.login-box{
    max-width: 700px;
    float:none;
    margin: 50px auto;
    
}
.login-left{
    background: rgba(211,211,211,0.5);
    padding: 10px;
}


.login-right{
    background: #fff;
    padding: 10px;
}

.form-control{
    background-color: black !important;
    
}

input{
    color:white !important ;
}

/*Delete & Update*/
.full_form{
    text-align: center;
    margin-left: 450px;
    margin-top: 100px;
}


#in{
    color:black;
}

#reg{
    color:black;
}


h1{
    color: #fff !important;
    margin-top: 100px !important;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: #fff !important;
    margin-top: 200px !important;
    text-align: center;
    text-transform: uppercase;
}



.delete{
 background-color: black;
 color: white;
 padding: 20px; 

}

.btn01 {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }

    .btn01:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        }


 nav{
  width: 100%;
  height: 80px;
  background-color: #0009; 
  line-height: 80px;
}

nav ul{
    float:right;
    margin-right: 30px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.5s all;
}

nav ul li:hover{
 background-color: cyan;

}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;
}

button{
background-color: black !important;
}
